@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lato:wght@300&display=swap");

html {
  background-color: #1a1a29;
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Lato";
}
